/* Logbook */

.logbook_adm {
	width: 500px;
	margin: 0px auto;
	border-collapse: collapse;
	border: 1px solid #2e3192;
}
 
#logbook_poplight table {
border: 2px solid #040;
border-collapse: collapse;
}

#logbook_poplight th {
border-bottom: 2px solid #040;
padding: .3em;
}

#logbook_poplight td {
border: 1px solid #040;
padding: .3em;
}

#logbook_poplight table tr:nth-child(1n+2) {
background-color: #ccffcc;
color: #000;
}
#logbook_poplight table tr:nth-child(2n+3) {
background-color: #fff5dd;
color: #000;
}    